:host {
  display: flex;
  flex-direction: column;
}

.company {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #182537;
  padding: 12px;

  .symbol {
    padding-right: 12px;
  }

  .name {
    padding-right: 6px;
  }

  .price {
    display: inline-block;

    *:not(:first-child) {
      margin-left: 10px;
    }
  }

  .increase {
    color: green;
  }

  .decrease {
    color: red;
  }
}
