<div *ngFor="let company of gainers" class="company">
  <span class="symbol">{{company.symbol}}</span>
  <span class="name">{{company.companyName}}</span>
  <div class="price">
    <span> {{company.latestPrice}}</span>
    <small class="currency">USD</small>
    <small *ngIf="company.change !== 0" class="increase">+{{company.change}} ({{company.changePercent | percent:
      '1.1-2' }})</small>
  </div>
</div>

<div *ngFor="let company of losers" class="company">
  <span class="symbol">{{company.symbol}}</span>
  <span class="name">{{company.companyName}}</span>
  <div class="price">
    <span> {{company.latestPrice}}</span>
    <small class="currency">USD</small>
    <small *ngIf="company.change !== 0" class="decrease">{{company.change}} ({{company.changePercent | percent: '1.1-2'
      }})</small>
  </div>
</div>
